/* Basic Style*/
* { margin:0; padding:0;}
html, body { height: 100%; }

body {
  background: #f1f4f7;
  color: #5f6468;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
	
    overflow-x: hidden;
}
li+li {margin-top: 0.25em;}
.panel{
border : 0px;
}
.panel-default>.panel-heading.title {
    color: #7a7a7a;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    font-size: 1.75em;
    text-align: center;
	
}

.wrapper {
  height: 100%;
  display: table;
  width: 100%;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

.header {
  display: table-row;
  height: 50px;
  background: ;
}
code {
    padding: 0 !important;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0 !important;
    font-size: 85% !important;
    background-color: rgba(0,0,0,0.04) !important;
    border-radius: 3px !important;
   color : #A00;
}

.main {
  height: 100%;
  display: table;
  width: 100%;
}

.box {
  display: table-cell;
      padding: 15px;
}


.sidebar {
  padding : 2px;
	background : #fff;
}

.sidebar.leftbar{
  width: 304px;
}
.sidebar.rightbar{
  width: 350px;
}

.footer {
  display: table-row;
  height:50px;
   background: #272626;
    color: #fff;
    font-size: 12px;
    padding: 15px 0;
}




.download {
    padding: 30px 85px;
    border-left: 5px solid #98B198;
    background: url("http://1.bp.blogspot.com/-hD9NcRyEtvA/VH7icaR59pI/AAAAAAAAADY/JXuvPE5Z8Q4/s1600/download.png") no-repeat 20px 15px #DFF7DF;


}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 310px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 310px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
	
.navbar-toggle{
	display : block;
	}
